<div id="left">
	<h3>Find the min to max for 4 numbers!</h3>

	<form>
		<label style="display:none">1st</label><input type="text" ng-model="numOne" 
														id="n1" placeholder="Insert a number here!"/><br>
		<label style="display:none">2nd</label><input type="text" ng-model="numTwo" 
														id="n2" placeholder="Insert a number here!"/><br>
		<label style="display:none">3rd</label><input type="text" ng-model="numThree" 
														id="n3" placeholder="Insert a number here!"/><br>
		<label style="display:none">4th</label><input type="text" ng-model="numFour" 
														id="n4" placeholder="Insert a number here!"/><br>
		<button type="submit" ng-click="validateForm()">Reorganize</button>
	</form>

	<h3 style="margin-top:20px">Need a calculator? Use ours!</h3>
	<div class="calculator">
		<div class="innerContainer">
			<input type="text" id="displayField" ng-model="calcInput" readonly>
			<br>
			<div class="buttonPad">
				<button id="clearAll" class="btn" ng-click="calcInput = ''"> AC </button>
				<button id="clear" class="btn" ng-click="calcInput = calcInput.slice(0, -1)"> C </button>
				<button id="divide" class="btn" ng-click="calcInput = calcInput + ' / '"> / </button>	
				<br>		
				<button id="one" class="btn" ng-click="calcInput = calcInput + '1'">1</button>
				<button id="two" class="btn" ng-click="calcInput = calcInput + '2'">2</button>
				<button id="three" class="btn" ng-click="calcInput = calcInput + '3'">3</button>
				<button id="multiply" class="btn" ng-click="calcInput = calcInput + ' x '"> X </button>
				<br>
				<button id="four" class="btn" ng-click="calcInput = calcInput + '4'">4</button>
				<button id="five" class="btn" ng-click="calcInput = calcInput + '5'">5</button>
				<button id="six" class="btn" ng-click="calcInput = calcInput + '6'">6</button>
				<button id="subtract" class="btn" ng-click="calcInput = calcInput + ' - '"> - </button>
				<br>
				<button id="seven" class="btn" ng-click="calcInput = calcInput + '7'">7</button>
				<button id="eight" class="btn" ng-click="calcInput = calcInput + '8'">8</button>
				<button id="nine" class="btn" ng-click="calcInput = calcInput + '9'">9</button>
				<button id="minus" class="btn" ng-click="calcInput = calcInput + ' + '"> + </button>
				<br>
				<button id="zero" class="btn" ng-click="calcInput = calcInput + '0'">0</button>
				<button id="decimal" class="btn" ng-click="calcInput = calcInput + '.'"> . </button>
				<button id="submit" class="btn" ng-click="calculate()"> = </button>
			</div>
		</div>
	</div>
</div>
<div id="right">
	<h3>Select a link to go that page</h3>
	<select ng-click="goToLink()">
		<option value=""></option>
		<option value="http://www.google.com"><a href="google.com">Google.com</a></option>
		<option value="http://www.facebook.com">Facebook.com</option>
		<option value="http://www.strose.edu">Strose.edu</option>
		<option value="http://www.espn.com">ESPN.com</option>
	</select>
	<br><br>
	<h3>Enter the name of  an animal to see it appear</h3>
	<p style="font-size:12px">**Must be either dog, cat, giraffe, hippo, monkey or jelly fish</p>
	<input type="text" ng-model="animal" placeholder="Enter an animal here"/><br>
	<img src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Natural-Dog-Law-2-To-dogs%2C-energy-is-everything.jpg?itok=Z-ujUOUr" ng-if="animal == 'dog'"/>
	<img src="https://www.petdrugsonline.co.uk/images/page-headers/cats-master-header" ng-if="animal == 'cat'"/>
	<img src="https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2013/06/07/100798630-90751863-1.jpg?v=1487949933" ng-if="animal == 'giraffe'"/>
	<img src="http://ichef.bbci.co.uk/wwfeatures/wm/live/624_351/images/live/p0/3d/tk/p03dtkqg.jpg" ng-if="animal == 'hippo'"/>
	<img src="https://media.istockphoto.com/photos/closeup-of-mixedbreed-monkey-between-chimpanzee-and-bonobo-smiling-picture-id119838172?k=6&m=119838172&s=612x612&w=0&h=C6yKSGBkRi_85jnSv1aryQWKu08QKq6aLXWJGpHVd90=" ng-if="animal == 'monkey'"/>
	<img src="https://cdn.images.express.co.uk/img/dynamic/109/590x/secondary/jellyfish-886183.jpg" ng-if="animal == 'jellyfish' || animal === 'jelly fish'"/>
</div>

